%br
%br
%br
%p.lead
  Исследуй местность на предмет интересных событий! 
  %br
  Узнай что происходит в интересных тебе местах! 
  %br
  Находи интересные места на карте и сохраняй понравившиеся тебе записи!