/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap"

.twitter
  background-image: url("/assets/twitter.png")
  background-position: right top
  background-repeat: no-repeat
  background-size: 30px
  

.instagram
  background-image: url("/assets/instagram.png")
  background-position: right top
  background-repeat: no-repeat
  background-size: 30px

.panoramio
  background-image: url("/assets/panoramio.png")
  background-position: right top
  background-repeat: no-repeat
  background-size: 30px    

.liker
  float: right

.hidden-content
  display: none