!!!
%head
  %meta{:charset => "utf-8"}
  %title Look@ItGo
  =stylesheet_link_tag    "application" 
  =javascript_include_tag "application" 
  =csrf_meta_tags
  %script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places")

%body
  .navbar
    .navbar-inner
      %a.brand{:href => "/"} Look@ItGo
      - if current_user
        %ul.nav
          %li
            %a.locator{:href => "#"} Записи рядом
          %li
            %a{:href => "/locations/list"} История мест
          %li
            %a{:href => "/locations/likes"} Лента    
        %form.navbar-search.pull-left(action="/locations/search")
          %input.search-query(type="text" placeholder="Место")
                 

  .container

    - if current_user
      Welcome #{current_user.name}!
      = link_to "Sign Out", signout_path
    - else
      %h2
        Войти
      %a(href="/auth/twitter")
        %img(src="/assets/twitter.png" width="40")

      %a(href="/auth/facebook")
        %img(src="/assets/facebook.png" width="40")

      %a(href="/auth/instagram")
        %img(src="/assets/instagram.png" width="40")

      %a(href="/auth/google_oauth2")
        %img(src="/assets/google.png" width="40")                           

    = yield

  .footer
    .container
      %p
        Designed and built by Dmitri Rizun
      %p
        Code licensed under MIT license
      %p
        Look at it go!